@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");
main {
    min-height: 100vh;
    display: grid;
    place-items: center;
}

.container h2 {
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    font-size: 2rem;
    background: #222;
    color: #fff;
    padding: 1rem;
    border-radius: 0.25rem;
    margin-bottom: 2.5rem;
}

.color-code {
    color: hsl(205, 78%, 60%);
}

.btn-hero {
    background: transparent;
    color: #222;
    font-weight: 700;
    border: 2px solid #222;
    cursor: pointer;
    border-radius: 0.25rem;
    font-size: 1rem;
    padding: 0.75rem 1.25rem;
}

.btn-hero:hover {
    color: #fff;
    background: #222;
}